targets/*/repo
targets/*/*.tar.gz
targets/*/work
targets/*/*.a
targets/*/*_fuzzer
targets/php/corpus/
targets/libxml2/xmllint
targets/poppler/pdfimages
targets/poppler/pdftoppm
targets/poppler/freetype2
targets/sqlite3/sqlite3_fuzz
fuzzers/*/*.o
*.objdump