*.o
*.bc
*.asan
*.orig
targets/libtiff/tiffcp
targets/libpng/libpng*
work/
repo/
repo.orig/

targets/openssl/asn1*
targets/openssl/bignum
targets/openssl/bndiv
targets/openssl/client
targets/openssl/cmp
targets/openssl/cms
targets/openssl/conf
targets/openssl/crl
targets/openssl/ct
targets/openssl/server
targets/openssl/x509

targets/poppler/pdf*
targets/poppler/*.orig

*.log