*.o
*.bc
*.asan
*.orig

work
repo
repo.orig/

targets/libtiff/tiff*

targets/libpng/libpng*

targets/libxml2/libxml2*

targets/openssl/asn1*
targets/openssl/bignum
targets/openssl/bndiv
targets/openssl/client
targets/openssl/cmp
targets/openssl/cms
targets/openssl/conf
targets/openssl/crl
targets/openssl/ct
targets/openssl/server
targets/openssl/x509

targets/poppler/pdf*
targets/poppler/*.orig
targets/poppler/freetype2

*.log